@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --red-color: #ff5757;
  --green-color: #c1ff72;
  --blue-color: #5ce1e6;
  --purple-color: #cb6ce6;
  --yellow-color: #ffde59;
  --red-color-secondary: #ff3131;
  --grey-color: #8d8c8c;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto';
}

body{
  background-color: #dea9be;
  padding: 100px;
}

h1,h2,h3{
  color: white;
}

h2{
  margin: 0;
}

button{
  border: 2px solid #252525;
  width: 150px;
  height: 40px;
}

/* Displays */

.grid-col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px
}

.grid-row-4{
  grid-template-rows: repeat(4,1fr);
}

.flex{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* Estilos de bordes */

.border-white{
  border: 1px solid white;
}

.border-radius-10{
  border-radius: 10px;
}

.border-radius-5, button{
  border-radius: 5px;
}

/* Margenes */

.mt-30{
  margin-top: 30px;
}
.mt-10{
  margin-top: 10px;
}

/* Paddings */
.p-15{
  padding: 15px;
}

/* Widths */
.width-500{
  width: 500px
}


/* Estilos botones seleccion de sabor */

.btn-flavor-lemon{
  background-color:  var(--green-color);
}
.btn-flavor-horchata{
  background-color: white;
}
.btn-flavor-jamaica{
  background-color: var(--red-color);
}

/* Estilos botones seleccion de tamano */

.btn-size-ch{
  background-color: var(--purple-color) ;
}
.btn-size-md{
  background-color: var(--yellow-color);
}
.btn-size-g{
  background-color: var(--grey-color);
}

/* Estilos botones seleccion de hielo */
.btn-ice-yes{
  background-color: var(--blue-color);
}

/* Estilos boton de finalizar */
.btn-finish{
  width: 500px;
  background-color: var(--red-color-secondary);
  color: white;
  border: none;
}


/* Estilos modulo de llenado */
.container-drink{
  width: 100%;
  height: 100%;
  background-color: white;
}





/* Estilos del vaso */
.container-drink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.glass-container {
  width: 133px;
}

.cap {
  position: relative;
  z-index: 2;
  width: 133px;
  height: 29px;
  margin-bottom: -8px;
  transform-origin: 0 100%;
  transition: all .67s ease-in-out;
  transform: rotate(0deg);
}

.cap_open .cap {
  transform: rotate(-90deg);
}

.glass {
  width: 127px;
  height: 171px;
  margin-left: 3px;
}

.glass path {
  fill: #f4f4f4;
}

.star-container {
  position: relative;
  width: 86px;
  margin: 0 auto;
}

.star {
  width: 17px;
  height: 17px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iMjQwIj4KPHBhdGggZmlsbD0iIzc5NjczNCIgZD0ibTQ4LDIzNCA3My0yMjYgNzMsMjI2LTE5Mi0xNDBoMjM4eiIvPgo8L3N2Zz4=) center center no-repeat;
  background-size: 15px auto;
  transition: all .5s;
  position: absolute;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: rotate(360deg);
  left: 35px;
  bottom: 200px;
}

.star_posed.star {
  opacity: 1;
}
